.sidebar-1{
    max-width: 100% !important;
}

.block-detail-content{
    max-width: 100% !important;
    align-content: center;
    text-align: center;
    margin: auto;

}

.col-main {
    width: 100% !important;
}

.bodysite {
    width: 100% !important;;
}

.fig-picture{
    background: transparent !important;
}

*{font-family: sans-serif !important;}